.sendMessageContainer {
  background: #F8F8F8;
  border-left: 1px solid #eee;
  display: flex;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75%;
}
.sendMessageContainer form {
  display: flex;
  width: 100%;
}
.sendMessageText {
  border: 1px solid #eee;
  border-radius: 25px;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  width: 100%;
}
.btn.btnSuccess {
  align-items: center;
  background: #008bea;
  border: 1px solid #008bea;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  line-height: 0;
  justify-content: center;
  margin-left: -50px;
  height: 50px;
  width: 50px;
}