.messagesContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 70px;
  width: 75%;
  overflow-y: auto;
  z-index: 0;
}
.noMessagesContainer {
  color: #666;
  font-size: 12px;
  padding: 20px;
  text-align: center;
  width: 100%;
}