.message {
  background: #008bea;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 15px 5px;
}
.message.yourMessage {
  align-self: flex-end;
  background: #48b6ff;
}
.messageAuthor {
  font-size: 12px;
  margin-bottom: 5px;
}